/* html font */
* {
    font-family: roboto;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* --------------------------------------------HEADER------------------------------------ */



a {
    text-decoration: none;
    transition: color 250ms ease;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0 0;
    z-index: 5;
}

header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.6);
}


header a.logo {
    position: relative;
    z-index: 2;
    padding-left: 15px;
}

header a.logo img {
    width: 325px;
}

header nav {
    position: relative;
    padding-right: 15px;
    z-index: 2;
}

header nav ul li {
    display: inline-block;
}

header nav ul li {
    margin-right: 25px;
}

.icon {
    display: none;
}


header nav ul li a {
    color: #fff;
    text-transform: uppercase;
    outline: 0;
}

header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a.active-link {
    color: #ff7630;
}


/* -------------------------------------HERO SECTION-----------------------------------------------------------------------------*/
.hero {
    background: url(images/bkg_1\ 1.png);
    background-size: 100% 100%;
    height: 960px;
    left: 0px;
    top: 0px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    }

    .H1Container {
        display: flex;
        justify-content: center;
    }
    .H1Container2 {
        display: flex;
        justify-content: center;
    }

    .logoContainer {
        display: flex;
        justify-content: center;
        margin: 30px;
        
    }
    
    .headerN1 {
        font-style: normal;
        font-weight: 900;
        font-size: 51px;
        line-height: 60px;
        color: #FFFFFF;
    }

    .headerN2 {
    width: 829px;
    height: 93px;
    left: 305px;
    top: 664px;
    font-style: normal;
    font-weight: 900;
    font-size: 79px;
    line-height: 93px;
    text-align: center;
    color: #FFFFFF;
}
/*-----------------------------------WHY US SECTION-----------------------------------------------------------------------  */

.whyUs {
    background-color: #383838;
    height: 711px;
}

.container1 {
    height: 50%;
    display: flex;
    flex-direction: column;

}    
.container2 {
    text-align: center;
    height: 50%;
    display: flex;
}
.container2,h3 {
    color: #FFFFFF;
    margin: 10px;
}  

.H1whyU {
    margin-top: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.H2whyU {
    margin: 30px;
    display: flex;
    justify-content: center;
}
.separator1 {
    margin: 30px;
    display: flex;
    justify-content: center;
}
.designItem1 {
    margin: auto;
}
.designItem2 {
    margin: auto;
}
.designItem3 {
    margin: auto;
    align-items: center;
}

.oneStop {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
}
.success {
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    color: #FFFFFF;
}


/* #################################### */
.stiky {
    display: none;
}
/*-----------------------------------WHY US SECTION-----------------------------------------------------------------------  */   
.ProductD {
    background-color: #FFFFFF;
    height: 511px;
}

.container3 {
    float: left;
    margin: 100px 0 0 55px;
}
.test {
    width: 600px;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.container4 {
    float: right;
    margin: 55px 55px 0 0;
}

.secure {
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
color: #292929;

}
.perfection {
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #292929;
margin-bottom: 20px;
}
/* -----------------------PRODUCT LINE--------------------------------------------------- */
.ProductL {
    height: 853px;
    /* height: 100vh; */
    background: #FF7630;
}

.container5 {
    height: 40%;
    display: flex;
    flex-direction: column;
}

.H1Product {
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 29px;
color: #FFFFFF;
margin: auto;
}

.H1Product2 {
font-style: normal;
font-weight: 900;
font-size: 45px;
line-height: 53px;
text-align: center;
color: #FFFFFF;

margin: auto;
width: 80%;
}

.separator2{
    margin: auto;
}

.container6 {
    height: 35%;
    display: flex;
    justify-content: center;
}
.container7 {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------------------------------------------CONTACT------------------------------- */

.contact {
    background-color: #FFFFFF;
    height: 853px;
}

.container8 {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.H1Contact {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #292929;
    margin-top: 20px;
    margin: auto;
}

.H1Contact2 {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 53px;
    color: #FF7630;
    text-align: center;
    margin: auto;
    width: 60%;
}

.separator3{
    margin: auto;
}

.feedback {
    border: 2px solid green;
    background-color: whitesmoke;
    border-radius: 20px;
    color: green;
    text-align: center;
    margin: auto;
    width: 25%;
    display: none;
}


/* FORM */


.container9 {
    display: flex;
    justify-content: center;
    height: 28%;
}


.contact input:not([type="submit"]):valid,
.contact select:valid {
    border-color: green;
}
.contact input:invalid,
.contact select:invalid {
    border-color: #FF7630;
}


input[type=text] {
    width: 1000px;
    padding: 20px 20px;
    margin: 10px 0;
    outline: none;
}
input[type=email] {
    width: 1000px;
    padding: 20px 20px;
    margin: 10px 0;
    outline: none;
}


.container10 {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    height: 10%;
    /* width: 52%; */
    /* margin: 0 24%; */
    
}
.form2,input {
    width: 450px;
    margin-right: 50px;

}
.form3,select {
    width: 450px;
    margin-left: 50px;
}


input[type=tel], select {
    width: 100%;
    padding: 20px 60px;
    margin: 8px 0;
}

.container11 {
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
}
button {
    cursor: pointer;
    width: 1000px;
    padding: 20px 20px;
    margin: 10px 0;
    background-color: #FFFFFF;
    /* color: #FFFFFF; */

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.white {
    color: #FFFFFF;
    height: 75px;
}
/* ----------------------------------------EXTRA---------------------------------------------------------------- */
.extra {
    height: 254px;
    background: #292929;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container12 {
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
    color: #FF7630;
}

/* -------------------------------footer------------------------------------------ */
footer {
    height: 300px;
    background: #FFFFFF;
}
.FH1 {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FF7630;
}
.Fp {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #292929;
}
.number {
    color: black;
}

.end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.container15 {
    text-align: right;
}

.container16 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30%;

    
}
.container16, p {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #292929;

}























